// Specific CSS for your home-page
#projects {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #F4F4F4;
  h1 {
    color: #303030;
    text-align: center;
    padding-bottom: 50px;
    font-weight: bolder;
  }
}
