<div class="container" id="about">
  <h1>- About Me -</h1>
  <div class="row">
    <div class="text-center col-xs-12 col-sm-10 col-sm-offset-1">
      <p>Having briefly worked in Digital Marketing, I made the decision to learn how to code and become a Full-Stack Web Developer​​. I have recently completed Le Wagon London’s 9-week ​Ruby on Rails Coding Bootcamp, during which I built and ​shipped two web apps to production​​, along with various other projects, some of which you can explore below.</p>
    </div>
  </div>
</div>
