<div class="container" id="about">
  <h1>- About Me -</h1>
  <div class="row">
    <div class="text-center col-xs-12 col-sm-10 col-sm-offset-1">
      <p>I currently work in London as a Front End Web Developer​​.
      <br> Prior to my current role, I completed Le Wagon London’s 9-week ​Ruby on Rails Coding Bootcamp, during which I built and ​shipped two web apps to production​​.
      <br>You can explore these sites and their source code below, along with various other projects.</p>
    </div>
  </div>
</div>
