<div class="container" id="contact">
  <h1>- Get In Touch -</h1>
  <div class="row">
    <div class="text-center col-xs-12 col-sm-10 col-sm-offset-1">
      <p>I am currently actively hunting for exciting projects to work on across a range of sectors. If you have an opportunity you think I might be interested in, I'd love to talk!</p>
      <p><%= link_to "mailto:jjm.bolland@gmail.com/", target: "_blank", id: "mail-button" do %>
      <i class="fas fa-envelope"></i>
       jjm.bolland@gmail.com <% end %></p>
      <p><%= link_to "https://linkedin.com/in/joshuabolland", target: "_blank", id: "linkedin-button" do %>
      <i class="fab fa-linkedin"></i>
       https://linkedin.com/in/joshuabolland <% end %></p>
      <p><%= link_to "tel:+447960992645", target: "_blank" do %><i class="fas fa-phone"></i> +447960992645 <% end %></p>
    </div>
  </div>
</div>
