<div class="links">
  <ul class="list-inline">
    <li>
      <a href="#about">About Me</a>
    </li>
    <li>
      <a href="#projects">My Projects</a>
    </li>
    <li>
      <a href="#contact">Get In Touch</a>
    </li>
  </ul>
</div>
