<div id="social-media">
  <ul class="list-inline">
    <li>
      <%= link_to "https://github.com/joshbolland", target: "_blank", id: "github-button" do %>
      <i class="fab fa-github"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "https://linkedin.com/in/joshuabolland", target: "_blank", id: "linkedin-button" do %>
      <i class="fab fa-linkedin"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "mailto:jjm.bolland@gmail.com/", target: "_blank", id: "mail-button" do %>
      <i class="fas fa-envelope"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "https://twitter.com/joshbolland95", target: "_blank", id: "twitter-button" do %>
      <i class="fab fa-twitter"></i>
      <% end %>
    </li>
  </ul>
</div>
