<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_path 'banner.jpg' %>) ;">
  <div class="container">
    <%= image_tag('josh.jpg', class: "avatar")%>
    <h1>Josh Bolland</h1>
    <p>Full Stack Web Developer</p>
    <%= render 'social' %>
    <%= link_to 'My Projects', "https://github.com/joshbolland", class: 'btn btn-projects'%>
  </div>
</div>
