.banner {
  color: #FDFDFD;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 48px;
    font-weight: bold;
    color: #FDFDFD;
    margin: 12.5px;
  }
  p {
    font-size: 24px;
    color: #FDFDFD;
  }

  #github-button {
    color: #FDFDFD;
    transition: all 0.2s ease;
  }

  #github-button:hover {
    color: black;
    transition: all 0.2s ease;
  }

  #linkedin-button {
    color: #FDFDFD;
    transition: all 0.2s ease;
  }

  #linkedin-button:hover {
    color: #54BCEC;
    transition: all 0.2s ease;
  }

  #mail-button {
    color: #FDFDFD;
    transition: all 0.2s ease;
  }

  #mail-button:hover {
    color: #DD5555;
    transition: all 0.2s ease;
  }

  #twitter-button {
    color: #FDFDFD;
    transition: all 0.2s ease;
  }

  #twitter-button:hover {
    color: #1C9CF4;
    transition: all 0.2s ease;
  }

  li {
    display: inline-block;
    font-size: 24px;
    padding: 0px 10px;
  }

  ul {
    margin: 0px;
  }

  .btn-projects {
    color: #FDFDFD;
    border: 1px solid #FDFDFD;
    padding: 5px 15px;
    border-radius: 50px;
    font-weight: lighter;
    margin-top: 15px;
    transition: all 0.2s ease;
  }

  .btn-projects:hover {
    color: #cccccc;
    border: 1px solid #cccccc;
    transition: all 0.2s ease;
  }

  .avatar {
    height: 200px;
    border: 3px solid rgb(204, 204, 204);
    border-radius: 50%;
  }
  .links {
    a {
      color: #FDFDFD;
      text-decoration: none;
      font-size: 16px;
      transition: all 0.2s ease;
    }
    a:hover {
      color: #d7d7d7;
    }
  }
}
